-webkit-text-size-adjust: 100%;
color: rgb(55, 53, 47);
fill: currentcolor;
line-height: 1.5;
font-family: ui-sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, "Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
-webkit-font-smoothing: auto;
cursor: text;
caret-color: rgb(55, 53, 47);
--whenContentEditable--WebkitUserModify: read-write-plaintext-only;
outline: 0;
box-sizing: border-box;
width: 100%;
display: flex;
justify-content: center;
z-index: 3;
flex-shrink: 0;